doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()

    body
        main
            // section
            section
                .container.d-flex.flex-column
                    // row
                    .row.min-vh-100.justify-content-center.align-items-center
                        // col
                        .offset-lg-1.col-lg-10.py-8.py-xl-0
                            .mb-10.mb-xxl-0
                                // img
                                a(href='/')
                                    img(src=companyDetails.COMPANY_LOGO alt='' style="width:30%")
                            .row.justify-content-center.align-items-center
                                // content
                                .col-md-6
                                    .mb-6.mb-lg-0
                                        h1 Something&rsquo;s wrong here...
                                        p.mb-8
                                            | We can&rsquo;t find the page you&rsquo;re looking for.
                                            br
                                            |                   Click here to head back to home.
                                        // btn
                                        a.btn.btn-primary.ms-2(href='/') Back to home
                                .col-md-6
                                    div
                                        // img
                                        img.img-fluid(src='../assets/images/svg-graphics/error.svg' alt='')

        +scripts()