doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    body
        +header()
        +navbar()
        main
            .mt-4
                .container
                    // row
                    .row.mb-3
                        // col
                        .col-12
                            // breadcrumb
                            nav(aria-label='breadcrumb')
                                ol.breadcrumb.mb-0
                                    li.breadcrumb-item
                                        a(href='/') Home

                                    li.breadcrumb-item.active(aria-current='page') About
                .col-md-12
                    .card.mb-4.bg-light.border-0(style='background: url(/img/stock_home_8.jpg) no-repeat; background-position: center; background-size: cover;')
                        // card body
                        .card-body(style="padding:8rem !important")
                            // title
                            .container
                                h4.mb-0 About Us
            section.my-lg-14.my-8
                .container
                    .row
                                

                        div
                            // text
                            .mb-4
                                h3.text-center.mb-3 Who we are
                                p
                                    | Bluwave Limited provide professional quality printing and print design.
                                    | We are based in South East London near Peckham and have been involved in professional
                                    | printing for more than 15 years.
                                p
                                    | We provide a large range of Printing Services including Business Cards Printing, Letterhead Printing, 
                                    | Compliment Slips Printing, Envelope Printing, Brochure Printing, Magazine Printing, Folder Printing,
                                    | Sticker Printing, Leaflet Printing, Flyer Printing and much more. Professional printing
                                    | services together with the highest quality creative services you will find hard to beat.
                                

                            .mb-5
                                h3.text-center.mb-3 Our Values 
                                p 
                                    | "Great design for everyone" is why we're all here. But it's our values that help define our culture,
                                    | and how we move forward together. There are six of them. And they guide everything we do, from how we
                                    | collaborate to how we hire new people. To make them extra memorable, we've turned them into a catchy
                                    | acronym: “MAKE IT”.
                                
                            section.my-lg-14.my-8
                                .container.text-center
                                    // row
                                    .row.mb-8
                                        .col-md-6.col-lg-3
                                            .mb-8.mb-lg-0
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/clock.svg' alt='')
                                                // title
                                                h3.h5.mb-3
                                                    | Make it sustainable
                                                // text
                                                p.mb-0.light-grey
                                                    | We act with care for people and the planet. We’re continually innovating to have a positive impact.
                                        // col
                                        .col-md-6.col-lg-3
                                            .mb-8.mb-lg-0
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/gift.svg' alt='')
                                                // title
                                                h3.h5.mb-3 Always deliver delight
                                                // text
                                                p.mb-0.light-grey
                                                    | Because we’re confident in the quality of what we do, we’re not afraid to be playful and surprising. It’s what makes us stick in people’s hearts and minds.

                                        .col-md-6.col-lg-3
                                            a.mb-8.mb-lg-0(href="#")
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/package.svg' alt='')
                                                // title
                                                h3.h5.mb-3 Keep it human
                                                // text
                                                p.mb-0.light-grey
                                                    | We understand the people we work for and with. No one wants to speak to a robot, or be treated like one. We celebrate who you are.
                                        .col-md-6.col-lg-3
                                            .mb-8.mb-lg-0
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/refresh-cw.svg' style="fill: yellow" alt='')
                                                // title
                                                h3.h5.mb-3 Every detail counts
                                                // text
                                                p.mb-0
                                                    | It’s not perfectionism, it’s precision. And it means we always ship greatness. We take pride in our work and making it even better.
                                    .row 
                                        .col-md-6.col-lg-4
                                            .mb-8.mb-lg-0
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/clock.svg' alt='')
                                                // title
                                                h3.h5.mb-3
                                                    | Imagine it better
                                                // text
                                                p.mb-0.light-grey
                                                    | We believe there’s a better way, and we need to find it first. We have a progressive, purposeful mindset.
                                        // col
                                        .col-md-6.col-lg-4
                                            .mb-8.mb-lg-0
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/gift.svg' alt='')
                                                // title
                                                h3.h5.mb-3 Tackle it together
                                                // text
                                                p.mb-0.light-grey
                                                    | We do great things when we bring different ideas together. Like design and technology. Or the many minds in our crews. Together we’re stronger.

                                        .col-md-6.col-lg-4
                                            a.mb-8.mb-lg-0(href="#")
                                                // img
                                                .mb-6
                                                    img(src='../assets/images/icons/package.svg' alt='')
                                                // title
                                                h3.h5.mb-3 MAKE IT
                                                // text
                                                p.mb-0.light-grey
                                                    | Click to find out more about MAKEIT values, and what it’s like working for Bluwave


            +footer()
            +scripts()