doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    body

        .border-bottom.shadow-sm
            .row#cookieDiv
                .col-lg-12.col-md-12
                    .admin(style="text-align:center")
                        .row
                            .col-sm-12
                                p(style="color:white") ADMIN LOGIN PAGE
            nav.navbar.navbar-light.py-2(style="margin-top:3rem")
                .container.justify-content-center.justify-content-lg-between
                    a.navbar-brand(href='/' style="width:15%")
                        img.d-inline-block.align-text-top(src=companyDetails.COMPANY_LOGO alt='' style="width:100%")
                    span.navbar-text
                        | Already have an account? 
                        a(href='/login') Sign in

        main
            // section
            section.my-lg-14.my-8
                .container
                    // row
                    .row.justify-content-center.align-items-center
                        .col-12.col-md-6.col-lg-4.order-lg-1.order-2
                            // img
                            img.img-fluid(src='../assets/images/svg-graphics/signin-g.svg' alt='')
                        // col
                        .col-12.col-md-6.offset-lg-1.col-lg-4.order-lg-2.order-1
                            .mb-lg-9.mb-5
                                h1.mb-1.h2.fw-bold Sign in as Administrator
                            form(action="/admin_login" method="post")
                                .row.g-3
                                    // row
                                    .col-12
                                        // input
                                        if(error) 
                                            p.text-danger #{error}
                                        input#email.form-control(type='email' placeholder='Email' name="email" required value='')
                                    .col-12
                                        // input
                                        .password-field.position-relative
                                            input#password.form-control(type='password' name="password" placeholder='Enter Password' required value='')
                                            span
                                                i#passwordToggler.bi.bi-eye-slash
                                    
                                    // btn
                                    .col-12.d-grid
                                        button.btn.btn-primary(type='submit') Sign In
                                    // link
                                    div
                                        div
                                            | Forgot password? 
                                            a(href='#') Reset It

            +footer()
            +scripts()
            script(src='../assets/js/vendors/password.js')