doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    // main
    div
        if(message)
            #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                .d-flex
                    .toast-body(style="width:100%")
                        h6.text-white(style="text-align:center") #{message}
                    button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
            input#message(type="hidden" value=message)
        
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .container
                    .row.mb-8
                        .col-md-12
                            // page header
                            .d-md-flex.justify-content-between.align-items-center
                                div
                                    h2 Templates
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard') Dashboard
                                            li.breadcrumb-item.active(aria-current='page') Templates
                                // button
                                div
                                    a.btn.btn-primary(href='/admin_dashboard/add_template') Add Template
                    // row
                    .row
                        .col-xl-12.col-12.mb-5
                            // card
                            .card.h-100.card-lg
                                
                                // card body
                                .card-body.p-0(style="padding: 20px !important")
                                    // table
                                    .table-responsive
                                        table.table.table-centered.table-hover.text-nowrap.table-borderless.mb-0.table-with-checkbox#templates(style="cursor:pointer")
                                            thead.bg-light
                                                tr
                                                    //- th
                                                        .form-check
                                                            input#checkAll.form-check-input(type='checkbox' value='')
                                                            label.form-check-label(for='checkAll')
                                                    th(style="width:50%") Size
                                                    th(style="width:50%") Status
                                            tbody
                                                each template in templates
                                                    tr(data-templateid=template.id)
                                                        
                                                        td
                                                            p.text-reset #{template.name}
                                                        
                                                        td
                                                            if(template.deleteFl == false)
                                                                span.badge.bg-light-primary.text-dark-primary Active
                                                            else 
                                                                span.span.badge.bg-light-danger.text-dark-danger Deactive
                   



        +adminScripts()
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="/js/adminTemplates.js")
        script(src="/js/adminDashboard.js")