doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    include common/adminAccountSideBar.pug

    +adminHead()
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    // main
    div

        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .container
                    .row.mb-8
                        .col-md-12
                            // page header
                            .d-md-flex.justify-content-between.align-items-center
                                div
                                    h2 Account - #{account.name}
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard') Dashboard
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard/accounts') Accounts
                                            li.breadcrumb-item.active(aria-current='page') Emails
                                // button

                    section
                        .container
                            // row
                            .row
                                +adminAccountSideBar('emails', account.accountType)
                                .col-lg-9.col-md-8.col-12
                                    .py-6.p-md-6.p-lg-10
                                        // heading
                                        h2.mb-6 Account Orders
                                        if(emails.length > 0)
                                            .table-responsive-xxl.border-0
                                                // Table
                                                table.table.mb-0.text-nowrap.table-centered#orders
                                                    // Table Head
                                                    thead.bg-light
                                                        tr
                                                            th Subject
                                                            th Sent Dttm
                                                            th Status
                                                    tbody
                                                        // Table body
                                                        each email in emails
                                                            tr
                                                                td.align-middle.border-top-0
                                                                    a.fw-semi-bold.text-inherit(href='#')
                                                                        h6.mb-0 #{email.subject}
                                                                td.align-middle.border-top-0
                                                                    a.text-inherit(href='#') #{email.sentDt}
                                                                td.align-middle.border-top-0
                                                                    if(email.status == 'Success')
                                                                        span.badge.bg-light-primary.text-dark-primary Success
                                                                    else 
                                                                        span.span.badge.bg-light-danger.text-dark-danger Failed

                                                                
                                                                
                                        else 
                                            h5 No Emails For Account
                                                    


            +adminScripts()
            script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
            script(src="/js/adminAccountEmails.js")