doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    // main
    div
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .col-sm-6.offset-sm-3
                    .card
                        .card-body
                            .mb-lg-9.mb-5
                                h1.mb-1.h2.fw-bold.mb-3 Create a New Admin Account
                                // form
                                form(action='/create_admin_account' method='post')
                                    .row.g-3
                                        // col
                                        .col-12
                                            // input
                                            input.form-control#name(type='text' name="name" placeholder='Name' aria-label='Name' required value=(formData != undefined ? formData.name : ''))
                                            if(errors && errors.name)
                                                p.create-account-error.small.text-danger #{errors.name}
                                        .col-12
                                            // input
                                            input#email.form-control(type='email' name="email" placeholder='Email' required value=(formData != undefined ? formData.email : ''))
                                            if(errors && errors.email)
                                                p.create-account-error.small.text-danger #{errors.email}
                                        .col-12
                                            .password-field.position-relative
                                                input#password.form-control(type='password' name="password" placeholder='Enter Password' required value=(formData != undefined ? formData.password : defaultPassword))
                                                span
                                                    i#passwordToggler.bi.bi-eye-slash
                                            if(errors && errors.password)
                                                p.create-account-error.small.text-danger #{errors.password}
                                        .col-12
                                            // input
                                            input#phoneNumber.form-control(type='text' name="phoneNumber" placeholder='Phone Number' minlength="11" maxlength="11" required value=(formData != undefined ? formData.phoneNumber : ''))
                                            if(errors && errors.phoneNumber)
                                                p.create-account-error.small.text-danger #{errors.phoneNumber}
                                        // btn
                                        .col-12.d-grid
                                            button.btn.btn-primary(type='submit') Create Account
                                        // text
                                        p
                                            small
                                                | The Password has been defaulted to <b>welcome</b>, but feel free to change it









        +adminScripts()
        script(src='../assets/js/vendors/password.js')
