doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    body
        //- +header()
        .border-bottom.shadow-sm
            nav.navbar.navbar-light.py-2
                .container.justify-content-center.justify-content-lg-between
                    a.navbar-brand(href='/' style="width:15%")
                        img.d-inline-block.align-text-top(src=companyDetails.COMPANY_LOGO alt='' style="width:100%")
                    span.navbar-text
                        | Don't have an account? 
                        a(href='/signup') Sign Up


        main
            // section
            section.my-lg-14.my-8
                // container
                .container
                    // row
                    .row.justify-content-center.align-items-center
                        .col-12.col-md-6.col-lg-4.order-lg-1.order-2
                            // img
                            img.img-fluid(src='/assets/images/svg-graphics/fp-g.svg' alt='')
                        .col-12.col-md-6.offset-lg-1.col-lg-4.order-lg-2.order-1.d-flex.align-items-center
                            div
                                .mb-lg-9.mb-5
                                    // heading
                                    h1.mb-2.h2.fw-bold Forgot your password?
                                    p
                                        | Please enter the email address associated with your account and We will email you a link to reset your
                                        | password.
                                // form
                                form#form(method='post' action='/')
                                    // row
                                    .row.g-3
                                        // col
                                        .col-12
                                            // input
                                            input#email.form-control(type='email' name='email' placeholder='Email' required='')
                                            p.text-danger#emailError.mb-2
                                        // btn
                                        .col-12.d-grid.gap-2
                                            button.btn.btn-primary(type='submit') Reset Password
                                            a.btn.btn-light(href='/login') Back
        +footer()
        +scripts()
        script(src="/js/forgottenPassword.js")