doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    body
        //- +header()
        .border-bottom.shadow-sm
            nav.navbar.navbar-light.py-2
                .container.justify-content-center.justify-content-lg-between
                    a.navbar-brand(href='/' style="width:15%")
                        img.d-inline-block.align-text-top(src=companyDetails.COMPANY_LOGO alt='' style="width:100%")
                    span.navbar-text
                        | Don't have an account? 
                        a(href='/signup') Sign Up


        main
            // section
            section.my-lg-14.my-8
                // container
                .container
                    // row
                    .row.justify-content-center.align-items-center
                        .col-12.col-md-6.col-lg-4.order-lg-1.order-2
                            // img
                            img.img-fluid(src='/assets/images/svg-graphics/fp-g.svg' alt='')
                        .col-12.col-md-6.offset-lg-1.col-lg-4.order-lg-2.order-1.d-flex.align-items-center
                            div
                                if(error)
                                    .mb-lg-9.mb-5
                                        // heading
                                        h1.mb-2.h2.fw-bold Your Link has expired
                                        p
                                            | This link has either expired or has already been used. 
                                            | If you still wish to reset your password
                                        .col-12.d-grid.gap-2
                                            a.btn.btn-primary(href="/forgot_password") Reset Password
                                            a.btn.btn-light(href='/login') Login
        
                                else
                                    .mb-lg-9.mb-5
                                        // heading
                                        h1.mb-2.h2.fw-bold Reset your password
                                        p
                                            | Please enter your new password.
                                    // form
                                    form#form(method='post' action='/')
                                        // row
                                        input#forgottenPasswordId(type="hidden" value=forgottenPasswordId)
                                        .row.g-3
                                            // col
                                            .col-12
                                                // input
                                                p.text-danger#passwordError.mb-2
                                                input#password.form-control(type='password' name='password' placeholder='Password' required='')
                                                
                                            // btn

                                            .col-12
                                                // input
                                                input#rePassword.form-control(type='password' name='rePassword' placeholder='Re-enter Password' required='')
                                            // btn
                                            .col-12.d-grid.gap-2
                                                button.btn.btn-primary(type='submit') Reset Password
        +footer()
        +scripts()
        script(src='/js/resetPassword.js')
