doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    // main
    div
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .col-sm-6.offset-sm-3
                    .card
                        .card-body.text-center
                            .mb-lg-9.mb-5
                                h1.mb-1.h2.fw-bold.mb-3.text-center Set up 2FA for this account
                                .w-75.m-auto
                                    h5.text-dark-50.mt-0.fw-bold.text-center Download Google Authenticator onto your phone from either <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Play Store</a>
                                        |  or  <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank">Apple Store</a> for Android or Iphones respectively
                                    p Scan this QR code using the app or enter the key below into the app 
                                    input#qrCode(type="hidden" value=qrCode)
                                    #qrSection(style="display: flex; justify-content: center;align-items: center;")
                                       

                                    p <b>Key:</b> <h6>#{secret}</h6>

                                    
                                    //- p
                                        | Enter the 6 digit code from the app below
                                    form(action='/setup_2fa' method="post")
                                        .mb-3.mb-0.text-center
                                            
                                            input#code.form-control(type='number' placeholder='Enter the 6 digit code from the app' name="code" required max=999999)
                                            input(type="hidden" value=secret name='secret')
                                            if(error)
                                                p.small.text-danger #{error}
                                        .mb-3.mb-0.text-center
                                            button.btn.btn-primary(type='submit' style="width:100%")  Submit 






        +adminScripts()
        script(src="/assets/js/vendor.min.js")
        script(src="/assets/js/app.min.js")
        script(src='/js/setup2fa.js')
