doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    body
        +header()
        +navbar()
        main
            .mt-4
                .container
                    // row
                    .row.mb-3
                        // col
                        .col-12
                            // breadcrumb
                            nav(aria-label='breadcrumb')
                                ol.breadcrumb.mb-0
                                    li.breadcrumb-item
                                        a(href='/') Home

                                    li.breadcrumb-item.active(aria-current='page') Terms &amp Conditions

            section.my-lg-14.my-8
                .container
                    .row
                        .col-md-8
                            // text
                            .mb-5

                                h1.fw-bold Terms &amp Conditions
                                

                            div
                                // text
                                .mb-4
                                    p
                                        | Welcome to our web site. If you continue to browse and use this web site you are agreeing to comply
                                        | with and be bound by the following terms and conditions of use, which together with our privacy policy 
                                        | govern Bluwave Limited's relationship with you in relation to this web site.
                                    p
                                        | The term ‘Bluwave’ or ‘us’ or ‘we’ refers to the owner of the web site whose registered office is Bluwave Ltd,
                                        | Unit 1B, 1A Philip Walk, London SE15 3NH. The term ‘you’ refers to the user or viewer of our website.
                                    

                                .mb-5
                                    h3.mb-3 The use of this web site is subject to the following terms of use:
                                    ul
                                        li The content of the pages of this web site is for your general information and use only. It is subject to change without notice.
                                        li Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or
                                            | suitability of the information and materials found or offered on this web site for any particular purpose. You acknowledge 
                                            | that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies.
                                            | or errors to the fullest extent permitted by law
                                        li Your use of any information or materials on this web site is entirely at your own risk, for which we shall not be liable. It shall be your
                                            | own responsibility to ensure that any products, services or information available through this web site meet your specific requirements.
                                        li This web site contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics.
                                            | Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                                        li All trademarks reproduced in this web site, which are not the property of, or licensed to the operator, are acknowledged on the web site.
                                        li Unauthorised use of this web site may give rise to a claim for damages and/or be a criminal offence.
                                        li From time to time this web site may also include links to other web sites. These links are provided for your convenience to provide further information.
                                            | They do not signify that we endorse the web site(s). We have no responsibility for the content of the linked web site(s).
                                        li You may not create a link to this web site from another web site or document without Bluwave’s prior written consent.
                                        li Your use of this web site and any dispute arising out of such use of the web site is subject to the laws of England, Scotland and Wales.
                                
                            


            +footer()
            +scripts()