/* body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .navbar {
    background-color: #f2f2f2;
    padding: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left-section {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    height: calc(100vh - 120px);
    padding: 20px;
    overflow-y: scroll;
  }

  .right-section {
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
  }

  .footer {
    background-color: #f2f2f2;
    padding: 20px;
  } */

  table#summary {
    border-collapse: collapse;
  }
  table#summary td:first-child {
    padding-left: 0 !important;
  }
  table#summary td {
    border-bottom: 1px lightgrey;
    padding-left: 0 !important;
  }
  
  table#summary  tr:first-child td {
    border-top: none;
  }
  
  table#summary  tr:last-child td {
    border-bottom: none;
  }