/* body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .navbar {
    background-color: #f2f2f2;
    padding: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left-section {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    height: calc(100vh - 120px);
    padding: 20px;
    overflow-y: scroll;
  }

  .right-section {
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
  }

  .footer {
    background-color: #f2f2f2;
    padding: 20px;
  } */

  table#summary {
    border-collapse: collapse;
  }
  table#summary td:first-child {
    padding-left: 0 !important;
  }
  table#summary td {
    border-bottom: 1px lightgrey;
    padding-left: 0 !important;
  }
  
  table#summary  tr:first-child td {
    border-top: none;
  }
  
  table#summary  tr:last-child td {
    border-bottom: none;
  }


.sale {
  background: #ee7572;
  color: #fff;
  padding: 1px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 23;
  font-size: 25px;
  font-weight:600;
  padding-top:30px;
  border-radius: 50%;
}

.dataTable thead th:first-child {
  cursor: default;
}