mixin adminSideNav()
    nav.navbar-vertical-nav.d-none.d-xl-block
        .navbar-vertical
            .px-4.py-5
                a.navbar-brand(href='/admin_dashboard')
                    img(src=companyDetails.COMPANY_LOGO style="width:100%" alt='Bluwave Company Logo')
            .navbar-vertical-content.flex-grow-1(data-simplebar='')
                ul#sideNavbar.navbar-nav.flex-column
                    li.nav-item
                        a.nav-link(href='/admin_dashboard')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-house
                                span.nav-link-text Dashboard
                    li.nav-item.mt-6.mb-3
                        span.nav-label Site Managements
                    li.nav-item
                        a.nav-link(href='/admin_dashboard/products')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-cart
                                span.nav-link-text Products
                    li.nav-item
                        a.nav-link(href='/admin_dashboard/product_types')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-list-task
                                span.nav-link-text Product Types
                    li.nav-item
                        a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#navCategoriesAccounts' aria-expanded='false' aria-controls='navCategoriesAccounts')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-bag
                                span.nav-link-text Accounts
                        #navCategoriesAccounts.collapse(data-bs-parent='#sideNavbar')
                            ul.nav.flex-column
                                li.nav-item
                                    a.nav-link(href='/admin_dashboard/create_admin_account')
                                        | Create Admin Account
                                // Nav item
                                li.nav-item
                                    a.nav-link(href='/admin_dashboard/accounts')
                                        | View Accounts
                    li.nav-item
                        a.nav-link(href='/admin_dashboard/orders')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-shop
                                span.nav-link-text Orders
                    
    nav#offcanvasExample.navbar-vertical-nav.offcanvas.offcanvas-start.navbar-offcanvac(tabindex='-1')
        .navbar-vertical
            .px-4.py-5.d-flex.justify-content-between.align-items-center
                a.navbar-brand(href='/admin_dashboard' style="width:100%")
                    img(src=companyDetails.COMPANY_LOGO alt='Bluwave Company Logo' style="width:100%")
                //- button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
            .navbar-vertical-content.flex-grow-1(data-simplebar='')
                ul.navbar-nav.flex-column
                    li.nav-item
                        a.nav-link(href='/admin_dashboard')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-house
                                span Dashboard
                    li.nav-item.mt-6.mb-3
                        span.nav-label Store Managements
                    li.nav-item
                        a.nav-link(href='/admin_dashboard/products')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-cart
                                span.nav-link-text Products
                    li.nav-item
                        a.nav-link(href='/admin_dashboard/product_types')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-list-task
                                span.nav-link-text Product Types
                    li.nav-item
                        a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#navOrders' aria-expanded='false' aria-controls='navOrders')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-bag
                                span.nav-link-text Accounts
                        #navOrders.collapse(data-bs-parent='#sideNavbar')
                            ul.nav.flex-column
                                li.nav-item
                                    a.nav-link(href='/admin_dashboard/create_admin_account')
                                        | Create Admin Account
                                // Nav item
                                li.nav-item
                                    a.nav-link(href='/admin_dashboard/accounts')
                                        | View Accounts
                    li.nav-item
                        a.nav-link(href='/admin_dashboard/orders')
                            .d-flex.align-items-center
                                span.nav-link-icon
                                    i.bi.bi-shop
                                span.nav-link-text Orders
            