mixin adminAccountSideBar(type, accountType)
    .col-12
        .d-flex.justify-content-between.align-items-center.d-md-none.py-4
            // heading
            h3.fs-5.mb-0 Account Setting
            // button
            button.btn.btn-outline-gray-400.text-muted.d-md-none.btn-icon.btn-sm.ms-3(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasAccount' aria-controls='offcanvasAccount')
                i.bi.bi-text-indent-left.fs-3
    // col
    .col-lg-3.col-md-4.col-12.border-end.d-none.d-md-block
        .pt-10.pe-lg-10
            // nav
            ul.nav.flex-column.nav-pills.nav-pills-dark
                // nav item

                li.nav-item
                    a.nav-link(href='/admin_dashboard/account/' + account.id class=(type=='details' ? 'active' : ''))
                        i.feather-icon.icon-settings.me-2
                        | Account Details
                if(accountType == 'Customer')
                    li.nav-item
                        a.nav-link(aria-current='page' href='/admin_dashboard/account/' + account.id + '/orders' class=(type=='orders' ? 'active' : ''))
                            i.feather-icon.icon-shopping-bag.me-2
                            | Orders
                li.nav-item
                    a.nav-link(aria-current='page' href='/admin_dashboard/account/' + account.id + '/delete' class=(type=='delete' ? 'active' : ''))
                        i.feather-icon.icon-delete.me-2
                        | Delete Account
                // nav item

                // nav item
                li.nav-item
                    hr
                // nav item
                //- li.nav-item
                    a.nav-link(href='/logout')
                        i.feather-icon.icon-log-out.me-2
                        | Log out