mixin adminHead()
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(content='bluwave' name='author')
        title Dashboard - Bluwave Ltd
        // Favicon icon
        link(rel='apple-touch-icon' sizes='180x180' href='/img/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/img/favicon-16x16.png')
        link(rel='manifest' href='/img/site.webmanifest')
        link(rel='mask-icon' href='/img/safari-pinned-tab.svg' color='#5bbad5')
        // Libs CSS
        link(href='/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css' rel='stylesheet')
        link(href='/assets/libs/feather-webfont/dist/feather-icons.css' rel='stylesheet')
        link(href='/assets/libs/simplebar/dist/simplebar.min.css' rel='stylesheet')
        // Theme CSS
        link(rel='stylesheet' href='/assets/css/theme.min.css')
        // Google tag (gtag.js)
        // End Tag