mixin head()
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="author", content="Codescandy")
        title Custom Online Printing & Design | Bluwave Ltd
        //- link(href="/assets/libs/tiny-slider/dist/tiny-slider.css", rel="stylesheet")
        link(href="/assets/libs/slick-carousel/slick/slick.css", rel="stylesheet")
        link(href="/assets/libs/slick-carousel/slick/slick-theme.css", rel="stylesheet")
        // Favicon icon
        //- link(rel="shortcut icon", type="image/x-icon", href="/assets/images/favicon/favicon.ico")
        link(rel='apple-touch-icon' sizes='180x180' href='/img/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/img/favicon-16x16.png')
        link(rel='manifest' href='/img/site.webmanifest')
        link(rel='mask-icon' href='/img/safari-pinned-tab.svg' color='#5bbad5')

        // Libs CSS
        
        link(href="/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css", rel="stylesheet")
        link(href="/assets/libs/feather-webfont/dist/feather-icons.css", rel="stylesheet")
        link(href="/assets/libs/simplebar/dist/simplebar.min.css", rel="stylesheet")
        // Theme CSS
        link(rel="stylesheet", href="/assets/css/theme.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.css")
        script(type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async)
        // Google tag (gtag.js)
        // End Tag
