mixin scripts()
    script(src='/assets/libs/jquery/dist/jquery.min.js')
    script(src='/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/assets/libs/simplebar/dist/simplebar.min.js')
    // Theme JS
    script(src='/assets/js/theme.min.js')
    script(src='/assets/libs/slick-carousel/slick/slick.min.js')
    script(src='/assets/js/vendors/slick-slider.js')
    script(src='/assets/libs/tiny-slider/dist/min/tiny-slider.js')
    script(src='/assets/js/vendors/tns-slider.js')
    script(src='/assets/js/vendors/zoom.js')
    script(src='/assets/js/vendors/increment-value.js')
    script(src='/js/cookie.js')
    script(src="/assets/js/vendor.min.js")
    script(src="/assets/js/app.min.js")
    script(src="/js/typeahead.js")
    script(src="/js/search.js")
